@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: Roboto, ui-sans-serif;
  --color-page-background: #f7fbfc;
  --color-primary-color: #d6e6f2;
  --color-secondary-color: #b9d7ea;
  --color-action-color: #33538a;
  --color-action-color-hover: #26416d;
  --color-private-tag: #b9ebc6;
  --color-private-tag-txt: #145214;
  --color-public-tag: #f9e1b6;
  --color-public-tag-txt: #703e00;
  --color-shared-tag: #e1b9c6;
  --color-shared-tag-txt: #4b1021;
}

/* Utilitaires pour le line-clamp */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
